.caixa {
    background-color: #C3C3C3;
}

.titulo {
    color: #254A61 !important; 
    font-weight: bold !important;
}

.botao {
    border-color: white !important;
    background-color: #3F51B5;
    color: white !important;
}

.postagens {
    background-color: white;
}